#경로 : BATCH_HOME/config/batch.prerties
config.version=2009-11-10

####################################################################################
# Database 설정
####################################################################################
# db.driver : 대소문자 구분함.
# 예) type2 : db.driver=COM.ibm.db2.jdbc.app.DB2Driver
#     type3 : db.driver=COM.ibm.db2.jdbc.net.DB2Driver
#
# db.urlprefix : batch 에서는 dbname, dbuser, dbpwd 가 기본 파라미터로 입력 되므로
#               url보다 urlprefix 사용
# 예) type2 : jdbc:db2:
#     type3 : db.urlprefix=jdbc:db2://150.100.129.22:6789/DB명
#
# db.url :
# 예) type2일때 db.url=jdbc:db2:DB명
#     type3일때 db.url=jdbc:db2://150.100.129.22:6789/DB명
####################################################################################
#db.driver=COM.ibm.db2.jdbc.app.DB2Driver
#db.urlprefix=jdbc:db2:
#db.url=
#db.user=
#db.password=

db.driver=oracle.jdbc.driver.OracleDriver
db.urlprefix=jdbc:oracle:thin:@172.20.100.33:1521:
db.dbname=hicdb
db.url=jdbc:oracle:thin:@172.20.100.33:1521:hicdb
db.user=zuser
db.password=hiczusr26

####################################################################################
# data home directory
####################################################################################
# data_home : batch 실행 시 필요한 I/O 파일이 저장되는 home 위치 입니다.
# -Dbatch.datafile 는 개별 파일 설정 가능
# data.home=/jeus/jeus33/duser/data
####################################################################################
#아래 내용을 각자 환경에 맞게 수정해야함.
data.home=/HIC_APP/batch/data

####################################################################################
# xml home directory
####################################################################################
# xml_home : batch 실행 시 배치에서 필요한 I/O 파일의 형식을 지정한 xml의 home 위치 입니다.
# -Dbatch.xmlfile 는 개별 xml 파일 설정 가능
# data.home=/jeus/jeus33/duser/data
####################################################################################
#아래 내용을 각자 환경에 맞게 수정해야함.
xml.home=/HIC_APP/batch/include

####################################################################################
# 파일로그(BatchLog사용시) properties
####################################################################################
# log.level=info ( debug, info, warn, error, fatal )
# log.append=true/false 파일에 로그를 남길려면 true로
# -> log.home을 안잡을때 위치 : BATCH_HOME/log/[클래스명_yyyyMMdd].log로 남는다.
# log.pattern=%5p [%t] (%F:%5L) : %m%n
# 예) INFO [main] (DCRCB00301.java:  169) : 걸리시간 time==831ms
####################################################################################
#아래 내용을 각자 환경에 맞게 수정해야함.
log.level=debug
log.append=true
log.home=/HIC_APP/batch/log
log.pattern=%d{yyyy-MM-dd HH:mm:ss}, %5p [%t] (%F:%L) : %m%n

####################################################################################
# log4j properties (콘솔)
####################################################################################
#log4j.rootLogger=debug, stdout
log4j.rootLogger=debug, stdout
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss}, %5p [%t](%F:%L) : %m%n

####################################################################################
# 채권 송.수신 파일 경로 설정
####################################################################################
kfb.send=/HIC_APP/batch/data/send/KFB/
#kis.send=/oprwas/batch/data/send/KIS/
kis.send=/HIC_APP/batch/data/cci/BCMKI0301/
nice.send=/HIC_APP/batch/data/send/NICE/

#kfb.recv=/home/jwric/wripds/data/recv/KFB/
#kis.recv=/home/jwric/wripds/data/recv/KIS/
#nice.recv=/home/jwric/wripds/data/recv/NICE/
kfb.recv=/home/zuser/cabpds/data/recv/KFB/
#kis.recv=/home/zuser/cabpds/data/recv/KIS/
kis.recv=/HIC_APP/batch/data/cci/BCMKI0302/
nice.recv=/HIC_APP/batch/data/recv/NICE/

